
<body class="b-home">
  <h3 class="homepage-titles">About us</h3>
  <div class="card homepage-card">
  <div class="card-body">
    <p class="card-text">
      Welcome to The Yoga Studio, space for everyone to experiment with and explore the practice of yoga, we are founded on the belief that yoga should be accessible to all.
      We take care to ensure that each class is small enough so that you get the attention and space you need, while our expert teachers provide instruction that is easy to understand.
      The Yoga Studio offers a wide range of classes and workshops for practitioners of all levels, whether you are looking to build a solid foundation or take your practice further.
      Experiment with our classes to see how you can create your own combination to begin or expand your personal practice.
    </p>
  </div>
  <img src="https://archello.s3.eu-central-1.amazonaws.com/images/2021/03/10/some-place-studio-original-feelings-yoga-studio-offices-archello.1615376367.1177.jpg" class="card-img-bottom" alt="Studio image">
  </div>
  <h3 class="homepage-titles">Our classes</h3>
  <div class="row1">
    <div class="col-6">
      <div class="fast-transition card mb-1 classes-left-card">
        <img class="card-img-top" src="https://origympersonaltrainercourses.co.uk/files/img_cache/11750/1920_1615478820_hathavsvinyasayoga.jpeg?1615479558" alt="Guy doing yoga">
        <div class="card-body">
          <h5 class="card-title">Ashtanga Yoga</h5>
          <p class="card-text">Highly structured vinyasa-style class. There are five Ashtanga asana series and each student must master every pose of the first series before moving onto the second series. Ashtanga Yoga came to the west through students of Sri Pattabi Jois.</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="fast-transition card mb-1 classes-right-card">
        <img class="card-img-top" src="https://osinaekogunea.eus/wp-content/uploads/2019/04/avrielle-suleiman-GpVak9-cL6E-unsplash-scaled.jpg" alt="Girl doing yoga">
        <div class="card-body">
          <h5 class="card-title">Hatha Yoga</h5>
          <p class="card-text">Branch of yoga that typically comes to mind when you think of yoga in general terms. The practice involves breath, body, and mind, and classes are usually 45 minutes to 90 minutes of breathing, yoga poses, and meditation.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row1">
    <div class="col-6">
      <div class="fast-transition card mb-1 classes-left-card">
        <img class="card-img-top" src="https://www.yogateket.com/image/original/Hatha2.jpg" alt="Girl doing yoga">
        <div class="card-body">
          <h5 class="card-title">Vinyasa Yoga</h5>
          <p class="card-text">Style of yoga characterized by stringing postures together so that you move from one to another, seamlessly, using breath. Vinyasa classes offer a variety of postures and no two classes are ever alike.</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="fast-transition card mb-5 classes-right-card">
        <img class="card-img-top" src="https://htv.com.pk/wp-content/uploads/vinyasa02-580x387.jpg" alt="Girl doing yoga">
        <div class="card-body">
          <h5 class="card-title">Yin yoga</h5>
          <p class="card-text">Yin Yoga is a slow-paced style of yoga as exercise, incorporating principles of traditional Chinese medicine, with asanas (postures) that are held for longer periods of time than in other styles. </p>
        </div>
      </div>
    </div>
  </div>
</body>

