/* STYLES FOR THE HOME WEBPAGE HANDLEBAR*/
 * {
  background-color: #5D6C89;
}
h2 {
    padding-left: 16%;
    padding-top: 25%;
    color: #FEB06A;
    font-family: serif;
}
.form {
    width: 500px;
    margin-left: 15%;
}
label {
    font-family: serif;
    color: #36D6E7;
}
.btn {
    position: relative;
    left: 20%;
}