* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    background-color: #E0C3FC;
}
.content-box {
    background-color: #e3dddf;
}  

.homepage-card{
    margin: 0px 150px 50px 150px;
}
.classes-left-card{
    margin: 20px 50px 0px 150px;
}
.classes-right-card{
    margin: 20px 150px 0px 50px;
}
.homepage-titles{
    margin: 10px 0px 5px 150px;
}
.text-body{
    background-color: rgb(80, 80, 232);
    border-radius: 30px 30px;;
}
.book-handlebar-main {
    margin-top: 5%;
    width: 60%;
    margin-left: 22.5%;
}
.table-header {
    color: white;
}

.row {
    position: relative;
    left: 6.5%;
    width: 90%;
    padding-top: 10%;
}
.img-fluid {
border-radius: 5px;
}
h2 {
    color: rgb(0, 132, 255);
}

.b-home{
    background-color: #EBF5F7;
}

.row1 {
    position: relative;
    left: 6.5%;
    width: 90%;
    flex-direction: row;
    display: flex;
    /* padding-top: 10%; */
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Shadow box hover */
.fast-transition {
    position: relative; /* For positioning the pseudo-element */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .fast-transition::before {
    /* Position the pseudo-element. */
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Create the box shadow at expanded size. */
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
  
    /* Hidden by default. */
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .fast-transition:hover::before {
    /* Show the pseudo-element on hover. */
    opacity: 1;
  }