/* STYLES FOR THE HOME WEBPAGE HANDLEBAR*/
 /* * { */
  /* background-color: #5D6C89; */
/* } */
/* h2 {
    padding-left: 16%;
    padding-top: 25%;
    color: #FEB06A;
    font-family: serif;
} */
/* .form {
    width: 500px;
    margin-left: 15%;
} */
/* label {
    font-family: serif;
    color: #36D6E7;
} */
/* .btn {
    position: relative;
    left: 20%;
} */
nav {
    background-color: #E0C3FC;
}
.content-box {
    background-color: #e3dddf;
}  

.homepage-card{
    margin: 0px 150px 50px 150px;
}
.classes-left-card{
    margin: 20px 50px 0px 150px;
}
.classes-right-card{
    margin: 20px 150px 0px 50px;
}
.homepage-titles{
    margin: 10px 0px 5px 150px;
}
.text-body{
    background-color: rgb(80, 80, 232);
    border-radius: 30px 30px;;
}
.book-handlebar-main {
    margin-top: 5%;
    width: 60%;
    margin-left: 22.5%;
}
.table-header {
    color: white;
}

.row {
    position: relative;
    left: 6.5%;
    width: 90%;
    padding-top: 10%;
}
.img-fluid {
border-radius: 5px;
}
h2 {
    color: rgb(0, 132, 255);
}